/.idea/.idea.PortalUsuario/.idea/.gitignore
/.idea/.idea.PortalUsuario/.idea/.name
/PortalUsuario.Api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/PortalUsuario.Core/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/PortalUsuario.Data/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/PortalUsuario.Shared/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/PortalUsuario.Api/obj/Debug/net7.0/apphost.exe
/PortalUsuario.Api/bin/Debug/net7.0/appsettings.Development.json
/PortalUsuario.Api/bin/Debug/net7.0/appsettings.json
/PortalUsuario.Api/bin/Debug/net7.0/Azure.Core.dll
/PortalUsuario.Api/bin/Debug/net7.0/Azure.Identity.dll
/PortalUsuario.Api/bin/Debug/net7.0/Dapper.dll
/.idea/.idea.PortalUsuario/.idea/encodings.xml
/.idea/.idea.PortalUsuario/.idea/indexLayout.xml
/PortalUsuario.Api/bin/Debug/net7.0/LanguageExt.Core.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.AspNetCore.Authorization.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Abstractions.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Features.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.AspNetCore.Metadata.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.Abstractions.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.AspNetCore.Routing.Abstractions.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.Extensions.Features.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/PortalUsuario.Core/bin/Debug/net7.0/Microsoft.Net.Http.Headers.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.OpenApi.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/PortalUsuario.Api/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/PortalUsuario.Api/obj/Debug/net7.0/staticwebassets/msbuild.build.PortalUsuario.Api.props
/PortalUsuario.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.PortalUsuario.Api.props
/PortalUsuario.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.PortalUsuario.Api.props
/PortalUsuario.Api/bin/Debug/net7.0/Newtonsoft.Json.dll
/PortalUsuario.Api/obj/project.assets.json
/PortalUsuario.Core/obj/project.assets.json
/PortalUsuario.Data/obj/project.assets.json
/PortalUsuario.Shared/obj/project.assets.json
/PortalUsuario.Api/obj/project.nuget.cache
/PortalUsuario.Core/obj/project.nuget.cache
/PortalUsuario.Data/obj/project.nuget.cache
/PortalUsuario.Shared/obj/project.nuget.cache
/PortalUsuario.Api/obj/project.packagespec.json
/PortalUsuario.Core/obj/project.packagespec.json
/PortalUsuario.Data/obj/project.packagespec.json
/PortalUsuario.Shared/obj/project.packagespec.json
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.AssemblyInfo.cs
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.AssemblyInfoInputs.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.assets.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.csproj.AssemblyReference.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.csproj.CopyComplete
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.csproj.CoreCompileInputs.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.csproj.FileListAbsolute.txt
/PortalUsuario.Api/obj/PortalUsuario.Api.csproj.nuget.dgspec.json
/PortalUsuario.Api/obj/PortalUsuario.Api.csproj.nuget.g.props
/PortalUsuario.Api/obj/PortalUsuario.Api.csproj.nuget.g.targets
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Api.deps.json
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Api.dll
/PortalUsuario.Api/obj/Debug/net7.0/ref/PortalUsuario.Api.dll
/PortalUsuario.Api/obj/Debug/net7.0/refint/PortalUsuario.Api.dll
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.dll
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Api.exe
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.GeneratedMSBuildEditorConfig.editorconfig
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.genruntimeconfig.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.GlobalUsings.g.cs
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.MvcApplicationPartsAssemblyInfo.cache
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.MvcApplicationPartsAssemblyInfo.cs
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Api.pdb
/PortalUsuario.Api/obj/Debug/net7.0/PortalUsuario.Api.pdb
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Api.runtimeconfig.json
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.AssemblyInfo.cs
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.AssemblyInfoInputs.cache
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.assets.cache
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.csproj.AssemblyReference.cache
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.csproj.CopyComplete
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.csproj.CoreCompileInputs.cache
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.csproj.FileListAbsolute.txt
/PortalUsuario.Core/obj/PortalUsuario.Core.csproj.nuget.dgspec.json
/PortalUsuario.Core/obj/PortalUsuario.Core.csproj.nuget.g.props
/PortalUsuario.Core/obj/PortalUsuario.Core.csproj.nuget.g.targets
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Core.deps.json
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Core.dll
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Core.dll
/PortalUsuario.Core/obj/Debug/net7.0/ref/PortalUsuario.Core.dll
/PortalUsuario.Core/obj/Debug/net7.0/refint/PortalUsuario.Core.dll
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.dll
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.GeneratedMSBuildEditorConfig.editorconfig
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.GlobalUsings.g.cs
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Core.pdb
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Core.pdb
/PortalUsuario.Core/obj/Debug/net7.0/PortalUsuario.Core.pdb
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.AssemblyInfo.cs
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.AssemblyInfoInputs.cache
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.assets.cache
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.csproj.AssemblyReference.cache
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.csproj.CopyComplete
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.csproj.CoreCompileInputs.cache
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.csproj.FileListAbsolute.txt
/PortalUsuario.Data/obj/PortalUsuario.Data.csproj.nuget.dgspec.json
/PortalUsuario.Data/obj/PortalUsuario.Data.csproj.nuget.g.props
/PortalUsuario.Data/obj/PortalUsuario.Data.csproj.nuget.g.targets
/PortalUsuario.Data/bin/Debug/net7.0/PortalUsuario.Data.deps.json
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Data.dll
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Data.dll
/PortalUsuario.Data/bin/Debug/net7.0/PortalUsuario.Data.dll
/PortalUsuario.Data/obj/Debug/net7.0/ref/PortalUsuario.Data.dll
/PortalUsuario.Data/obj/Debug/net7.0/refint/PortalUsuario.Data.dll
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.dll
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.GeneratedMSBuildEditorConfig.editorconfig
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.GlobalUsings.g.cs
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Data.pdb
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Data.pdb
/PortalUsuario.Data/bin/Debug/net7.0/PortalUsuario.Data.pdb
/PortalUsuario.Data/obj/Debug/net7.0/PortalUsuario.Data.pdb
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.AssemblyInfo.cs
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.AssemblyInfoInputs.cache
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.assets.cache
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.csproj.AssemblyReference.cache
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.csproj.CoreCompileInputs.cache
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.csproj.FileListAbsolute.txt
/PortalUsuario.Shared/obj/PortalUsuario.Shared.csproj.nuget.dgspec.json
/PortalUsuario.Shared/obj/PortalUsuario.Shared.csproj.nuget.g.props
/PortalUsuario.Shared/obj/PortalUsuario.Shared.csproj.nuget.g.targets
/PortalUsuario.Shared/bin/Debug/net7.0/PortalUsuario.Shared.deps.json
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Shared.dll
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Shared.dll
/PortalUsuario.Data/bin/Debug/net7.0/PortalUsuario.Shared.dll
/PortalUsuario.Shared/bin/Debug/net7.0/PortalUsuario.Shared.dll
/PortalUsuario.Shared/obj/Debug/net7.0/ref/PortalUsuario.Shared.dll
/PortalUsuario.Shared/obj/Debug/net7.0/refint/PortalUsuario.Shared.dll
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.dll
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.GeneratedMSBuildEditorConfig.editorconfig
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.GlobalUsings.g.cs
/PortalUsuario.Api/bin/Debug/net7.0/PortalUsuario.Shared.pdb
/PortalUsuario.Core/bin/Debug/net7.0/PortalUsuario.Shared.pdb
/PortalUsuario.Data/bin/Debug/net7.0/PortalUsuario.Shared.pdb
/PortalUsuario.Shared/bin/Debug/net7.0/PortalUsuario.Shared.pdb
/PortalUsuario.Shared/obj/Debug/net7.0/PortalUsuario.Shared.pdb
/PortalUsuario.Api/obj/rider.project.restore.info
/PortalUsuario.Core/obj/rider.project.restore.info
/PortalUsuario.Data/obj/rider.project.restore.info
/PortalUsuario.Shared/obj/rider.project.restore.info
/PortalUsuario.Api/obj/Debug/net7.0/staticwebassets.build.json
/PortalUsuario.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/PortalUsuario.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/PortalUsuario.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Drawing.Common.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/PortalUsuario.Core/bin/Debug/net7.0/System.IO.Pipelines.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Memory.Data.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Runtime.Caching.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Security.Permissions.dll
/PortalUsuario.Api/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/PortalUsuario.Api/bin/Debug/net7.0/System.Windows.Extensions.dll
/.idea/.idea.PortalUsuario/.idea/vcs.xml
